body{ 
  background-color: #253452;
}



p {
  margin: 0;
}

.business--card{ 
  position: relative;
  z-index: 100;
  margin-top: 40px;
  background-color: #23272f;
  max-width: 400px;
  color: whitesmoke;
  margin-bottom: 40px;
}

.App{ 
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.App > h1{
  color: white;
  margin-bottom: 5px;
}

.App > p {
  color: white;
  margin: 0;
  font-size: 20px;
}

.info--section{ 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info--text_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 17px;
}

.info--contact_container{ 
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.email--button {
  background-color: white;
  border: none;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-left: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.mail--icon {
  margin-right: 2px;
  width: 12px;
}

.linkedin--button {
  background-color: rgb(0, 119, 181);
  color: white;
  border: none;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.linkedin--icon {
  width: 15px;
  margin-right: 2px;
}



.sweetlemon--png {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.sweetlemon--title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 8px;
}

.subtitle {
  color: rgb(255, 247, 0);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}


/*About*/

.about--container {
  padding: 20px;
}


.about--title {
  margin-bottom: 7px;
  font-size: 20px;
  font-weight: bold;
}


.about--text {
  font-size: 14px;
}

.interests--container{ 
  padding: 20px;
}

.interests--title{ 
  margin-bottom: 7px;
  font-size: 20px;
  font-weight: bold;
}


.footer {
  background-color: #0c0c0c;
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;

}

.social--icon{ 
  width: 20px;
  background-color: grey;
  padding: 10px 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.social--icon:hover {
  background-color: aqua;
}